<!doctype html>
<html lang="en">
  
  <head>
    <title>Blog</title>
    <link rel = "stylesheet" href = "../stylesheets/main_content.css">
  </head>
  
  <body>
    
    <% include partials/navbar %>
    
    <div class = "container main_content">
      <div class = "card">
        <div class = "card-header">
          OMG
        </div>
        <div class = "card-body">
          <p class = "card-text">
            I respect women now.  Forigve me for my past.
          </p>
        </div>
      </div>
    </div>

    <div class = "container">
      <div class = "card">
        <div class = "card-header">
          I've been thinking a lot lately.
        </div>
        <div class = "card-body">
          <p class = "card-text">
            Sometimes bitches aren't just for fucking. 
          </p>
        </div>
      </div>
    </div>
    
    <div class = "container">
      <div class = "card">
        <div class = "card-header">
          This blog is for hot bitches only
        </div>
        <div class = "card-body">
          <p class = "card-text">
            I'm a fan of hot bitches.  I want them on my dick. lol.
          </p>
        </div>
      </div>
    </div>
    
    	<% include partials/footer.ejs %>
    
  </body> 
  
</html>