<!doctype html>
<html lang="en">

	<head>
		<title>Joshua Wilkes</title>
	</head>

	<body>
		<% include partials/navbar %>
		<h3>Welcome to my homepage!</h3>
		<% include partials/footer.ejs %>
	</body>
	
</html>